:root {
    --primary: #C2D3CD;
}

.element-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(300px);
}

.flipped-element {
    transform: translateX(-300px);
}

.card-wrapper {
    width: 33%;
    margin-top: 150px;
    padding: 20px 20px 20px 20px;
    background-color: var(--primary);
    border-radius: 15px;
}

.top-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-wrapper {
    position: absolute;
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-225px) translateY(-45px);
}

.name-wrapper {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.text-wrapper {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.about-title {
    font-size: 28px;
    font-weight: bold;
    color: #242424;
}

.flipped-transform {
    transform: translateX(225px) translateY(-45px);
}

.profile-pic {
    position: absolute;
    border-radius: 100%;
}

.padding {
    padding: 75px 0px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us {
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: auto;
    width: 66%;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--primary);
}

.light-shadow {
    box-shadow: 15px 15px 20px #EEEEEE;
}