:root {
    --primary: #C2D3CD;
    --pad: 200px;
}

.home__main-section {
    color: #fff;
    padding-top: 150px;
    padding-bottom: 200px;
}

.padding_override {
    padding-bottom: 700px;
}

.home__main-row {
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.home__main-text-wrapper {
    max-width: 540px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.top-line {
    color: var(--primary);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    color: #f7f8fa;
}

.darkBg {
    background-color: #1c2237;
}

.home__main-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}

.home__main-img-wrapper {
    max-width: 555px;
}

.home__main-img {
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
}


.image {
    position: absolute;
    border-radius: 15px;
    transform: translateY(65px);
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.bg-image {
    position: absolute;
    border-radius: 15px;
    transform: translateY(165px) translateX(150px);
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.image_offset {
    position: absolute;
    border-radius: 15px;
    transform: translateY(370px) translateX(310px);
    border: 0px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.bg-image-offset {
    position: absolute;
    border-radius: 15px;
    transform: translateY(5px) translateX(100px);
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.buffer {
    padding-bottom: var(--pad);
}

.button {
    cursor: pointer;
    height: 48px;
    width: 192px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 10px;
    transition: border-radius 0.35s;
}

.button:hover {
    border-radius: 15px;
    transition: border-radius 0.35s;
}

.dark {
    color: #1c2237;
}

.shadow {
    box-shadow: 20px 20px 30px #242424;
}

.darkshadow {
    box-shadow: 20px 20px 30px #000000;
}

@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .home__main-text-wrapper {
        padding-bottom: 65px;
    }

    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}