:root {
    --primary: #C2D3CD;

    --gradient: linear-gradient(45deg,
    #FFD1F7,
    var(--primary),
    #FFCCDF,
    #A3F3FF,
    #DBE5FF,
    #CCDAFF);
}

html {
    scroll-behavior: smooth;
}

.title-wrapper {
    margin: auto;
    width: 100%;
    text-align: center;
}

.title-header {
    padding-top: 20%;
    font-size: 4em;
    font-family: sans-serif;
    background-image: var(--gradient);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: bg-animation 120s infinite alternate;
}

.title-description {
    padding-top: 10px;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--primary);
}

.down-arrow {
    padding-top: 10px;
    color: var(--primary);
    animation: breathe-animation 0.75s infinite ease-in-out alternate;
}

.bottom-padding {
    padding-bottom: 100px;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

@keyframes breathe-animation {
    0% {transform: translateY(8px)}
    100% {transform: translateY(-8px)}
}